* {
    box-sizing: border-box;
}

body {
    background-color: #2d2013;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

.container {
    margin: auto;
    max-width: 50rem;
    display: flex;;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.flex {
    display: flex;
}

input,
button {
    border: .0625rem solid #dedede;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
    font-size: .875rem;
    padding: .5rem .625rem;
    margin: 0;
}

input[type="text"] {
    width: 18.75rem;
}

.search-btn {
    cursor: pointer;
    border-left: none;
    border-radius: 0;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
}

.random-btn {
    cursor: pointer;
    margin-left: .625rem;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.meals {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.25rem;
    margin-top: 1.25rem;
}

.meal {
    cursor: pointer;
    position: relative;
    width: 11.25rem;
    height: 11.25rem;
    text-align: center;
}

.meal img {
    width: 100%;
    height: 100%;
    border: .25rem solid #fff;
    border-radius: .125rem;
}

.meal-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.2s ease-in;
    opacity: 0;
}

.meal:hover .meal-info {
    opacity: 1;
}

.single-meal {
    margin: 1.875rem auto;
    width: 70%;
}

.single-meal img {
    width: 18.75rem;
    margin: .9375rem;
    border: .25rem solid #fff;
    border-radius: .125rem;
}