* {
    box-sizing: border-box;
}

body {
    background-color: #2d2013;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

.container {
    margin: auto;
    max-width: 50rem;
    display: flex;;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.flex {
    display: flex;
}

input,
button {
    border: .0625rem solid #dedede;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
    font-size: .875rem;
    padding: .5rem .625rem;
    margin: 0;
}

input[type="text"] {
    width: 18.75rem;
}

