* {
    box-sizing: border-box;
}

body {
    background-color: #2d2013;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

.container {
    margin: auto;
    max-width: 50rem;
    display: flex;;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.flex {
    display: flex;
}

input,
button {
    border: .0625rem solid #dedede;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
    font-size: .875rem;
    padding: .5rem .625rem;
    margin: 0;
}

input[type="text"] {
    width: 18.75rem;
}

.search-btn {
    cursor: pointer;
    border-left: none;
    border-radius: 0;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
}

.random-btn {
    cursor: pointer;
    margin-left: .625rem;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.meals {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.25rem;
    margin-top: 1.25rem;
}

.meal {
    cursor: pointer;
    position: relative;
    width: 11.25rem;
    height: 11.25rem;
    text-align: center;
}

.meal img {
    width: 100%;
    height: 100%;
    border: .25rem solid #fff;
    border-radius: .125rem;
}

.meal-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.2s ease-in;
    opacity: 0;
}

.meal:hover .meal-info {
    opacity: 1;
}

.single-meal {
    margin: 1.875rem auto;
    width: 70%;
}

.single-meal img {
    width: 18.75rem;
    margin: .9375rem;
    border: .25rem solid #fff;
    border-radius: .125rem;
}

.single-meal-info {
    margin: 1.25rem;
    padding: .625rem;
    border: .125rem dashed #e09850;
    border-radius: .3125rem;
}

.single-meal p {
    margin: 0;
    letter-spacing: .0313rem;
    line-height: 1.5;
}

.single-meal ul {
    padding-left: 0;
    list-style-type: none;
}

.single-meal ul li {
    border: .0625rem solid #ededed;
    border-radius: .3125rem;
    background-color: #fff;
    color: #2d2013;
    display: inline-block;
    font-size: .75rem;
    font-weight: bold;
    padding: .3125rem;
    margin: 0 .3125rem .3125rem 0;
}

@media (max-width: 50rem) {
    .meals {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 43.75rem) {
    .meals {
        grid-template-columns: repeat(2, 1fr);
    }

    .meal {
        width: 12.5rem;
        height: 12.5rem;
    }
}

@media (max-width: 31.25rem) {
    input[type="text"] {
        width: 100%;
    }

    .meals {
        grid-template-columns: 1fr;
    }

    .meal {
        height: 18.75rem;
        width: 18.75rem;
    }
}